@inherits CovoitEco.APP.Components.Annonce.GestionAnnonce

@if (responseAnnonce == null || responseGetVehicule == null || responseReservationProfile == null)
{
    <div class="container pt-5">
        <div class="spinner-border text-primary"></div>
        <p><em>Loading...</em></p>
    </div>
}
else
{
    <div class="container pt-5 align-self-lg-center">
        <div class="row justify-content-start">
        <div class="col-4">
            <h2>@responseGetVehicule.Lists[0].VEHPR_Marque @responseGetVehicule.Lists[0].VEHPR_Modele</h2>
            <ul class="list-group w-50 col">
                <li class="list-group-item">Immatriculation : @responseGetVehicule.Lists[0].VEHPR_Immatriculation</li>
                <li class="list-group-item">Nombre de place : @responseGetVehicule.Lists[0].VEHPR_NombrePlace</li>
                <li class="list-group-item">Norme Euro : @responseGetVehicule.Lists[0].VEHPR_NormeEuro</li>
                <li class="list-group-item">Fumeur : @responseAnnonce.Lists[0].ANN_OptFumeur</li>
                <li class="list-group-item">Animaux : @responseAnnonce.Lists[0].ANN_OptAnimaux</li>
                <li class="list-group-item">Animaux : @responseAnnonce.Lists[0].ANN_OptAutoroute</li>
            </ul>
        </div>

        <div class="col-8">
            <table class="table">
                <thead class="table-dark">
                <tr>
                    <th scope="col" class="fs-5">Nom</th>
                    <th scope="col" class="fs-5">Prénom</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var reservationProfile in responseReservationProfile.Lists)
                {
                    <tr>
                        <td>@reservationProfile.RESPR_Nom</td>
                        <td>@reservationProfile.RESPR_Prenom</td>
                        @if (@reservationProfile.RESPR_StatutLibelle == "Confirme" && @reservationProfile.RESPR_FactureResolus == true)
                        {
                            <td class="">
                                <button class="btn btn-primary" @onclick="@(() => UpdateConfirmePayment(@reservationProfile.RESPR_Id))">Confirmer le paiement</button> 
                            </td>
                        }
                        else
                        {
                            <td class="">
                                <button class="btn btn-secondary" disabled>Confirmer le paiement</button> 
                            </td>
                        }
                        @if (@reservationProfile.RESPR_StatutLibelle == "EnAttente")
                        {
                            <td class="">
                                <button class="btn btn-primary" @onclick="@(() => UpdateAccepterReservation(@reservationProfile.RESPR_Id))">Accepter la demande</button>
                            </td>
                        }
                        else
                        {
                            <td class="">
                                <button class="btn btn-secondary" disabled>Accepter la demande</button>
                            </td>
                        }
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    </div>

    <div class="container pt-5">
        <a href="/CompteAnnonce" class="btn btn-primary">Page précédente</a>
    </div>

}