@inherits CovoitEco.APP.Components.Reservation.DetailReservationComponent

@if (responseGetReservationUser == null)
{
    <div class="container pt-5">
        <div class="spinner-border text-primary"></div>
        <p><em>Loading...</em></p>
    </div>
}
else
{
    <div class="container pt-3 row">
        <div class="col-3">
            <img src="img/man-g221e08a8f_1280.png" alt="Card image" style="width:50%">
        </div>
        <div class="col-6">
            <h2 class="fw-bolder">Statut</h2>
            <p class="fs-6">Statut annonce : @responseGetReservationUser.Lists[0].RES_ANN_StatutLibelle</p>
            <p class="fs-6">Statut reservation : @responseGetReservationUser.Lists[0].RES_FACT_StatutLibelle</p>
        </div>
    </div>

    <div class="container pt-3 row justify-content-around">
        <div class="col">
            <h2>Auteur</h2>
            <p>Nom : @responseGetReservationUser.Lists[0].RES_ANN_AnnonceurNom</p>
            <p>Prénom : @responseGetReservationUser.Lists[0].RES_ANN_AnnonceurPrenom</p>
        </div>

        <div class="col-8">
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        @* <th scope="col">Localité de départ</th>
                        <th scope="col">Date de départ</th>
                        <th scope="col">Localité de d'arrivé</th>
                        <th scope="col">Date d'arrivé</th>*@
                        <th scope="col">Date de départ</th>
                        <th scope="col">Heure de départ</th>
                        <th scope="col">Localité de départ</th>
                        <th scope="col">Date d'arrivé</th>
                        <th scope="col">Heure d'arrivé</th>
                        <th scope="col">Localité d'arrivé</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var reservationUserProfile in responseGetReservationUser.Lists)
                    {
                        <tr>
                            @* <td>@reservationUserProfile.RES_ANN_LocaliteDepart</td>
                            <td>@reservationUserProfile.RES_ANN_DateDepart</td>
                            <td>@reservationUserProfile.RES_ANN_LocaliteArrive</td>
                            <td>@reservationUserProfile.RES_ANN_DateArrive</td>*@
                            <td>@reservationUserProfile.RES_ANN_DateDepart.Year/@reservationUserProfile.RES_ANN_DateDepart.Month/@reservationUserProfile.RES_ANN_DateDepart.Day</td>
                            <td>@reservationUserProfile.RES_ANN_DateDepart.Hour : @reservationUserProfile.RES_ANN_DateDepart.Minute</td>
                            <td>@reservationUserProfile.RES_ANN_LocaliteDepart</td>
                            <td>@reservationUserProfile.RES_ANN_DateArrive.Year/@reservationUserProfile.RES_ANN_DateArrive.Month/@reservationUserProfile.RES_ANN_DateArrive.Day</td>
                            <td>@reservationUserProfile.RES_ANN_DateArrive.Hour : @reservationUserProfile.RES_ANN_DateArrive.Minute</td>
                            <td>@reservationUserProfile.RES_ANN_LocaliteArrive</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="container pt-3">
        <div class="row justify-content-end">
            <div class="col-2">
                <h2>Vehicule</h2>
                <p>Immatriculation : @responseGetReservationUser.Lists[0].RES_ANN_VEH_VehImmatriculation</p>
            </div>

            <div class="col-2">
                <h3>Options</h3>
                <p>Fumeur : @responseGetReservationUser.Lists[0].RES_ANN_OptFumeur</p>
                <p>Animaux : @responseGetReservationUser.Lists[0].RES_ANN_OptAnimaux</p>
                <p>Animaux : @responseGetReservationUser.Lists[0].RES_ANN_OptAutoroute</p>
            </div>


            <div class="col-4">
                <h2>Prix</h2>
                <p>Euro : @responseGetReservationUser.Lists[0].RES_ANN_Prix</p>
                @if (@responseGetReservationUser.Lists[0].RES_FACT_FactureResolus == true)
                {
                    <p>Facture : en ordre</p>
                }
                else
                {
                    <p>Facture : a payer</p>
                }
            </div>
        </div>
    </div>


    <div class="container pt-5">
        <a href="/CompteReservation" class="btn btn-primary">Retour à la page précèdente</a>
    </div>
}