@using CovoitEco.APP.Views.Utilisateur
@inherits CovoitEco.APP.Components.Utilisateur.SignUpUtilisateurComponent

<CascadingAuthenticationState> 
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <p>Determining session state, please wait...</p>
                </Authorizing>
                <NotAuthorized>
                    <div class=" container pt-5 bg-dark text-white">
                        <h1 class="fw-bolder">Bienvenue sur CovoitEco</h1>
                        <p class="fs-6">Veuiller créer un compte oû vous loger.</p>
                    </div>
                    <div class="container pt-2 text-center">
                        <img src="img/winding-road-g5edc8face_1920.jpg" alt="Card image" style="" class="img-fluid">
                    </div>
                    <div class="container pt-3 text-center ">
                        <a href="/CreateUtilisateur" class="btn btn-primary btn-lg">S'inscrire</a>
                    </div>
                    <div class="container pt-3">
                    </div>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState> 


