@inherits CovoitEco.APP.Components.Vehicule.VehiculeComponent

@if (responseGetVehicule  == null)
{
    <div class="container pt-5">
        <div class="spinner-border text-primary"></div>
        <p><em>Loading...</em></p>
    </div>
}
else if (responseGetVehicule.Lists.Count == 0)
{
    <div class="container pt-5">
        <h3>Véhicule courant</h3>
        <ul class="list-group">
            <li class="list-group-item">Immatriculation : </li>
            <li class="list-group-item">Marques: </li>
            <li class="list-group-item">Modèle : </li>
            <li class="list-group-item">Nombre de place : </li>
            <li class="list-group-item">Norme Euro : </li>
        </ul>
    </div>
}
else
{
    <div class="container pt-5">
        <h3>Véhicule courant</h3>
        <ul class="list-group">
            <li class="list-group-item">Immatriculation : @responseGetVehicule.Lists[0].VEHPR_Immatriculation</li>
            <li class="list-group-item">Marques: @responseGetVehicule.Lists[0].VEHPR_Marque</li>
            <li class="list-group-item">Modèle : @responseGetVehicule.Lists[0].VEHPR_Modele</li>
            <li class="list-group-item">Nombre de place : @responseGetVehicule.Lists[0].VEHPR_NombrePlace</li>
            <li class="list-group-item">Norme Euro : @responseGetVehicule.Lists[0].VEHPR_NormeEuro</li>
        </ul>
    </div>
}