@using Polly
@inherits CovoitEco.APP.Components.Annonce.DetailAnnonceComponent


@if (responseAnnonce == null || responseGetVehicule == null)
{
    <div class="container pt-5">
        <div class="spinner-border text-primary"></div>
        <p><em>Loading...</em></p>
    </div>
}
else
{
    <div class="container pt-3 row">
        <div class="col-3">
            <img src="img/man-g221e08a8f_1280.png" alt="Card image" style="width:50%">
        </div>
    </div>
    <div classe="container pt-3">
        <p>Nom : @responseAnnonce.Lists[0].ANNPR_AnnonceurNom</p>
        <p>Prénom : @responseAnnonce.Lists[0].ANNPR_AnnonceurPrenom</p>
    </div>

    <div class="container pt-3 row">
        <div classe="col-4">
            <h2>@responseGetVehicule.Lists[0].VEHPR_Marque @responseGetVehicule.Lists[0].VEHPR_Modele</h2>
            <p>Immatriculation : @responseGetVehicule.Lists[0].VEHPR_Immatriculation</p>
            <p>Nombre de place : @responseGetVehicule.Lists[0].VEHPR_NombrePlace</p>
            <p>Norme Euro : @responseGetVehicule.Lists[0].VEHPR_NormeEuro</p>
        </div>
        <div classe="col-7">
            <table class="table">
                <thead class="table-dark">
                <tr>
                    <th scope="col">Localité de départ</th>
                    <th scope="col">Date de départ</th>
                    <th scope="col">Localité de d'arrivé</th>
                    <th scope="col">Date d'arrivé</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var annonceProfile in responseAnnonce.Lists)
                {
                    <tr>
                        <td>@annonceProfile.ANNPR_LocaliteDepart</td>
                        <td>@annonceProfile.ANNPR_DateDepart</td>
                        <td>@annonceProfile.ANNPR_LocaliteArrive</td>
                        <td>@annonceProfile.ANNPR_DateArrive</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>

    <div classe="container pt-5">
        <h3>Options</h3>
        <p>Fumeur : @responseAnnonce.Lists[0].ANN_OptFumeur</p>
        <p>Animaux : @responseAnnonce.Lists[0].ANN_OptAnimaux</p>
        <p>Animaux : @responseAnnonce.Lists[0].ANN_OptAutoroute</p>
    </div>


    if (confirme != true)
    {
        <div class="container pt-5">
            <a @onclick="@(() => CreateReservation())" href="/" class="btn btn-primary">Soumettre vôtre demande</a>
        </div>
    }

    <div class="container pt-2 text-center">
        <a href="/" class="btn btn-secondary">Page d'accueil</a>
    </div>
}

